<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package = "com.study.dao"/>
    <context:component-scan base-package = "com.study.service"/>
    <!--<mvc:annotation-driven/>-->

    <bean id="dataSource" class="org.postgresql.ds.PGSimpleDataSource">
    </bean>
    <bean id="dbProperties" class="com.study.dao.DbProperties">
    </bean>
    <bean id="dataSourcePostProcessor" class="com.study.DbBeanPostProcessor">
    </bean>

    <bean id="authenticationService" class="com.study.security.DefaultAuthenticationService">
        <!--<property name="userService" ref="userService"/>-->
    </bean>
    <bean id = "productSelectQuery" class="java.lang.String">
        <constructor-arg value="SELECT * FROM shop.products"/>
    </bean>
    <bean id = "productSelectByIdQuery" class="java.lang.String">
        <constructor-arg value="SELECT  * FROM shop.products t WHERE t.id = ?"/>
    </bean>
    <bean id = "productUpdateQuery" class="java.lang.String">
        <constructor-arg value="UPDATE shop.products set name = ?, picturePath = ?, price = ?, addeddate = ? WHERE id = ?"/>
    </bean>
    <bean id = "productInsertQuery" class="java.lang.String">
        <constructor-arg value="INSERT INTO shop.products(name,picturepath,price,addeddate) VALUES(?,?,?,?)"/>
    </bean>
    <bean id = "productDeleteQuery" class="java.lang.String">
        <constructor-arg value="DELETE FROM shop.products WHERE id = ?"/>
    </bean>
</beans>
